<nav>
  <a [routerLink]="['/login']">Login</a>
  <br>
  <a [routerLink]="['/signup']">Sign Up</a>
  <br>
  <a [routerLink]="['/visits']">Your Visits</a>
  <br>
  <a [routerLink]="['/appointments']">Appointments</a>
  <br>

</nav>
<div class="row">
  <div class="column">
    <h2>
      Info
    </h2>
    Address: Piotrkowska 10
    <br>
    Telephone: 123123123
    ...
  </div>
  <div class="column">
    <h2>List of doctors </h2>
    <ul *ngFor="let doctor of doctors">
      dr {{doctor.name}} {{doctor.surname}}
      <br>
      Speciality: {{doctor.speciality}}
    </ul>

  </div>
</div>

