
<div  *ngIf="isLogin else redirect">
<form (ngSubmit)="addAppointment() ">
<mat-form-field>
  <mat-label>Choose Patient</mat-label>
  <mat-select [(value)]="choosePatient" required>
    <mat-option *ngFor="let patient of patients" [value] = "patient">
      {{patient.name}} {{patient.surname}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>

<mat-form-field >
  <mat-label>Choose a date</mat-label>
  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
         (dateInput)="newDate = $event.value" (dateChange)="newDate = $event.value" required>
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br>
<mat-form-field>
  <mat-label>Choose Time</mat-label>
  <input matInput [(ngModel)]="newTime" [ngxMatTimepicker]="pickerD" [ngModelOptions]="{standalone: true}" required>
  <mat-icon matSuffix
            (click)="pickerD.open()">
    watch_later
  </mat-icon>
  <ngx-mat-timepicker #pickerD></ngx-mat-timepicker>
</mat-form-field>
<br>
<button type="submit" mat-button class="btn btn-primary">Add</button>
</form>

<div *ngIf="added" class="updated">Visit added successfully</div>
</div>

<ng-template #redirect>
  <div class="error">
    You don't have access to this page
    <br>
    <div class="button-container">
      <button type="button" (click)="redirectHome()">Home</button>
      <button type="button" (click)="redirectLogin()">Login</button>
    </div>
  </div>
</ng-template>
