<div class="row" *ngIf="isLoggin else redirect">
  <div class="column">
    <h2>Upcoming Visits</h2>
    <div *ngIf="upcomingVisits.length > 0; else noUpcomingVisits">
      <ul>
        <li *ngFor="let visit of upcomingVisits">
          dr {{visit.doctor.name}} {{visit.doctor.surname}}
          <br>
          Day: {{ visit.appointmentDate | date: 'fullDate'}} <br>
          Time: {{ visit.appointmentDate | date: 'shortTime'}}
        </li>
      </ul>
    </div>
    <ng-template #noUpcomingVisits>
      <p>No upcoming visits</p>
    </ng-template>
  </div>
  <div class="column">
    <h2>Previous Visits</h2>
    <div *ngIf="prevVisits.length > 0; else noPreviousVisits">
      <ul>
        <li *ngFor="let visit of prevVisits">
          dr {{visit.doctor.name}} {{visit.doctor.surname}}
          <br>
          Day: {{ visit.appointmentDate | date: 'fullDate'}} <br>
          Time: {{ visit.appointmentDate | date: 'shortTime'}}
        </li>
      </ul>
    </div>
    <ng-template #noPreviousVisits>
      <p>No previous visits</p>
    </ng-template>
  </div>
</div>

<ng-template #redirect>
  <div class="error">
    You don't have access to this page
    <br>
    <div class="button-container">
      <button type="button" (click)="redirectHome()">Home</button>
      <button type="button" (click)="redirectLogin()">Login</button>
    </div>
  </div>
</ng-template>
