<div class="register-container">
  <div *ngIf="isSignedUp; else signupForm" class="success-message">
    Your registration is successful. Please login!
  </div>

<ng-template #signupForm>
  <div class="form-container">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <h2>Register</h2>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label for="username">Username</mat-label>
          <input matInput type="text" name="username" [(ngModel)]="form.username" #username="ngModel" required />
        </mat-form-field>
        <div *ngIf="f.submitted && username.invalid" class="error-message">
          <div *ngIf="['username.errors?.required']">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label for="password">Password</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6" />
        </mat-form-field>
        <div *ngIf="f.submitted && password.invalid" class="error-message">
          <div *ngIf="['password.errors?.required']">Password is required</div>
          <div *ngIf="['password.errors?.minlength']">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button mat-button class="btn btn-primary full-width">Register</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed!<br />{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>
</div>
