<div  *ngIf="isLogin else redirect">
<form (ngSubmit)="update()" class="form">
  <mat-form-field class="form-group">
    <mat-label for="FirstName">First Name:</mat-label>
    <input matInput [(ngModel)]="name" id="FirstName" [ngModelOptions]="{standalone: true}">
  </mat-form-field> <br>
  <mat-form-field class="form-group">
    <mat-label for="LastName">Last Name:</mat-label>
    <input matInput [(ngModel)]="surname" id="LastName" [ngModelOptions]="{standalone: true}">
  </mat-form-field> <br>
  <mat-form-field class="form-group">
    <mat-label for="Speciality">Speciality:</mat-label>
    <input matInput [(ngModel)]="speciality" id="Speciality" [ngModelOptions]="{standalone: true}">
  </mat-form-field> <br>

  <button type="submit" mat-button class="btn btn-primary">Confirm</button>
</form>

<div *ngIf="updated" class="updated">Profile updated successfully</div>
</div>
<ng-template #redirect>
  <div class="error">
    You don't have access to this page
    <br>
    <div class="button-container">
      <button type="button" (click)="redirectHome()">Home</button>
      <button type="button" (click)="redirectLogin()">Login</button>
    </div>
  </div>
</ng-template>

