.admin{
  color: crimson;
  font-size: large;
}

.row {
  display: flex;
}

.column1 {
  flex: 30%;
  padding-left: 40px;
}

.column2{
  flex: 50%;
}

.float{
  float:left;
}

.myTable{
  width: 80%;
}

.tab{
  padding-right: 20px;
}

.mat-column-username {
  width: 30%;
}

.mat-column-name{
}

.mat-column-surname{
}

.mat-column-delete{
  width: 20%;
  border-left: 1px solid black;
}

.buttons{
  color: aliceblue;
  margin-right: 10px;
  background-color: cadetblue;
}

.form-group{

}

.updated{
  display: block;
  font-size: small;
  color: lawngreen;
  font-style: italic;
}


