<div  *ngIf="isLogin else redirect">
<form (ngSubmit)="update()">
  <mat-form-field class="form-group">
    <mat-label for="FirstName">First Name:</mat-label>
    <input matInput [(ngModel)]="name" id="FirstName" [ngModelOptions]="{standalone: true}">
  </mat-form-field> <br>
  <mat-form-field class="form-group">
    <mat-label for="LastName">Last Name:</mat-label>
    <input matInput [(ngModel)]="surname" id="LastName" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <h2>
    Current family doctor: <br>
    Dr {{familyDoctor?.name}} {{familyDoctor?.surname}}, {{familyDoctor?.speciality}}
  </h2>
  <mat-form-field>
    <mat-label>Choose Family Doctor</mat-label>
    <mat-select [(value)]="chooseFamilyDoctor" required>
      <mat-option *ngFor="let doctor of rdyDoctors" [value] = "doctor">
        <div *ngIf="doctor.name && doctor.surname && doctor.speciality">
          Dr {{doctor.name}} {{doctor.surname}} <br> {{doctor.speciality}}
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>

<br>
  <button type="submit" mat-button class="btn btn-primary">Confirm</button>
</form>

<div *ngIf="updated" class="updated">Profile updated successfully</div>

</div>
<ng-template #redirect>
  <div class="error">
    You don't have access to this page
    <br>
    <div class="button-container">
      <button type="button" (click)="redirectHome()">Home</button>
      <button type="button" (click)="redirectLogin()">Login</button>
    </div>
  </div>
</ng-template>
